# Task2: City Analysis

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('restaurants.csv')

In [5]:
print(df.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

### Identify the city with the highest number of restaurants in the dataset.

In [7]:
city_count=df['City'].value_counts()
restaurants_no=city_count.head(1)
print("City with the highest number of restaurants:", city_count.idxmax())
print(restaurants_no)

City with the highest number of restaurants: New Delhi
City
New Delhi    5473
Name: count, dtype: int64

### calculating the average rating for restaurants in each city

In [9]:
rating_by_each_city=df.groupby('City')['Aggregate rating'].mean()
print("The average Rating of each city", rating_by_each_city)

The average Rating of each city City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

### Determine the city with the highest average rating.

In [11]:
top_rated_city=rating_by_each_city.idxmax()
value=rating_by_each_city.max()
print("The city with Highest Avg. Rating is: ",top_rated_city,",", "Rating -", value)

The city with Highest Avg. Rating is:  Inner City , Rating - 4.9